@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Scheherazade+New:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
  @apply md:px-8 lg:px-10 xl:px-64 transition-all duration-500 bg-primary text-secondary dark:bg-dark-primary dark:text-dark-secondary
}

.hover-item{
  @apply transition-all duration-500 hover:scale-105
}
.animate{
  animation: .5s ease-in-out 1 slideInFromLeft;
}
  
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}